@charset "UTF-8";

/*Todas as demais midias (desktop, print, TV...)*/

/*
    Typical Device Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 769px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
---------------------------
*/

/*  FOI IGNORADO PORQUE EU FIZ A CONFIGURAÇÃO PARA PEQUENAS TELAS E MOBILE PRIMEIRO
@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {

} */

@media print { /*Impressão*/
    * {
        font-family: 'Courier New', Courier, monospace /*Própria para impressoras*/;
    }
    
    body {
        background-image: url(../images/back-print.jpg); /*Desnecessário*/
    }

    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main::after {
        content: 'Essa impressão foi disponibilizada por @mateeuscunha';
        text-decoration: overline;
    }
    
    main h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body {
        background-image: url(../images/back-tablet.jpg)
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body {
        background-image: url(../images/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 1200px) { /*Telas Grandes*/
    body {
        background-image: url(../images/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}