@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

section#flex {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}

section.white {
    padding: 20px;
}

div#mediatext {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

div#textmedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div > article.text {
    flex: 1 1 500px;
    text-align: justify;
}

div > article.media {
    flex: 1 0 400px;
}

img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
    width: 100%;
}
