@charset "UTF-8";  /*Configuração de caracteres*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');    /*Importando fonte bebas*/

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}   /*Importando, da pasta, a fonte idroid*/

/* CORES (do mais claro ao mais escuro)
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif; 
}

* {  /*Todos os elementos não terão suas margens e paddings padrões*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
}

header > p {
    color: white;
}

nav {
    background-color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px; /*Margem embaixo, para separar do footer*/
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /*Embaixo na direita e esquerda, não quero arredondamento em cima*/

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

main img {
    width: 100%;
}

main img.pequena {
    width: 44%;
    display: block; /*a imagem não é um bloco por padrão*/
    margin: auto; /*por isso o margin auto não funcionaria sem o display block*/
}

footer {
    background-color: var(--cor5);
    color: white;
}