@charset "UTF-8";

/*Estilo para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none; /*Não será exibido*/
}

article {
    width: 100%;
}

article::after {
    content: "Esse artigo foi impresso por @mateeuscunha";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}