@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: center;
}

header > menu > ul {
    list-style-type: none; /*Para perder a bolinha*/
    background-color: gray;
    padding: 10px;
}

header > menu > ul > li{
    background-color: rgb(75, 70, 70);
    display: inline;
    padding: 10px;
    color: white;
}

article {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 20px;
}