@charset "UTF-8";

@media screen and (min-width: 768px) { /*abrange telas de tablet ou maiores*/
    
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}