@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(160, 159, 159);
}

header > h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none; /*tira as bolinhas da ul*/
}

menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: rgb(83, 83, 83);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

article > h2 {
    padding-bottom: 15px;
}

article p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}