@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 5px;
}

.caixa1 {
    background-color: lightslategrey;

    grid-area: 1 / 1 / span 1 / span 4; /*row-start > column-start > row-end > column-end*/
    /* grid-row: 1 / span 1;
    grid-column: 1 / span 4; */
}

.caixa2 {
    background-color: lightseagreen;

    grid-area: 2 / 1 / span 2 / span 2;
    /* grid-row: 2 / span 2;
    grid-column: 1 / span 2; */
}

.caixa3 {
    background-color: lightcoral;

    grid-area: 2 / 3 / -1 / 5;
    /* grid-row: 2 / -1;
    grid-column: 3 / 5; */
}