* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgreen;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    text-align: left;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 11px;
}

main {
    background-color: white;
    margin: auto;
    max-width: 800px;   
}

img#bugdroid {
    max-width: 300px;
}

img {
   width: 100%;
}

iframe {
    width: 100%;
    margin: auto;
}

section#extra {
    background-color: lightgreen;
    border-radius: 10px;
}

h4 {
    background-color: green;
    color: white;
    border-radius: 10px 0px;
    padding: 10px;
}

footer {
    background-color: darkgreen;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}