@charset "UTF-8";

body {
    display: grid;
    justify-content: center;
    align-content: center;

    width: 99vw;
    height: 98vh;
}

.container {
    display: grid;
    grid-template-rows: 2fr 0.5fr 4fr 0.5fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;

    width: 800px;
    min-height: 600px;
    text-align: center;
}

.container > * {
    background-color: rgb(245, 211, 138);
}

header {
    grid-row: 1;
    grid-column: 1 / -1;
}

.menu {
    grid-row: 2;
    grid-column: 1 / -1;
}

main {
    grid-row: 3;
    grid-column: 1 / span 2;
}

section {
    grid-area: 3 / 3 / 4 / -1;
}

footer {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
}