@charset "UTF-8";  /*Configuração de caracteres*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*adicionando fonte Passion One*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');   /*adicionando fonte Sriracha*/

:root {
    --fonte-poesia: "Sriracha", cursive;
    --fonte-header: "Passion One", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
    font-family: var(--fonte-header);
    font-variant: small-caps;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

header > p > a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    
}

header a:hover {
    text-decoration: underline;
}
