@charset "UTF-8";  /*Configuração de caracteres*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /*adicionando fonte Passion One*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');   /*adicionando fonte Sriracha*/

:root {
    --fonte-poesia: "Sriracha", cursive;
    --fonte-header: "Passion One", cursive;
    --fonte-default: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-default);
    font-size: 1em;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-size: 10vw;
    font-family: var(--fonte-header);
    font-variant: small-caps;
}

header > p {
    font-family: var(--fonte-default);
    padding-bottom: 50px;
    font-size: 1em;
}

header > p > a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

main pre {
    font-family: var(--fonte-poesia);
    font-size: 3em;
    padding: 61.700px 0px 61.700px 30px;
}

main article.branco {
    background-color: white;
}

main article#joaninha {
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
}

main article#folha {
    background: darkgray url(../imagens/background002.jpg) center center fixed;
    background-size: cover;
    /*color > image > position > [size] > attachment*/
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}