@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 2fr 0.5fr 4fr 0.5fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;

    width: 100vw;
    min-height: 100vh;
}

.container > * {
    background-color: rgb(245, 211, 138);
    display: grid;
    place-items: center;
}

header {
    grid-row: 1;
    grid-column: 1 / -1;
}

nav {
    grid-row: 2;
    grid-column: 1 / -1;
}

main {
    grid-row: 3;
    grid-column: 1 / span 2;
}

aside {
    grid-area: 3 / 3 / 4 / -1;
}

footer {
    grid-row: -2 / -1;
    grid-column: 1 / -1;
}