body {
    background-color: lightgreen;
}

main {
    background-color: white;
    margin: 1px 100px;
    padding: 10px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    text-align: left;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

h4 {
    background-color: green;
    color: white;
    border-radius: 10px 0px;
    padding: 10px;
}

section#extra {
    background-color: lightgreen;
    border-radius: 10px;
}