@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.caixa1 {
    background-color: lightslategrey;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.caixa2 {
    background-color: lightseagreen;

    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3 {
    background-color: lightcoral;

    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: 5;
}